# Unity generated
[Ll]ibrary/
[Tt]emp/
[Oo]bj/
[Bb]uild*/
[Bb]uilds/
[Ll]ogs/
[Mm]emoryCaptures/
[Uu]serSettings/
[Bb]ackup*/
[Cc]rashReports/
Assets/StreamingAssets/aa.meta # Addressables may generate lots—keep .meta, ignore bundles if desired
Assets/AssetStoreTools*

# Don't redistribute 3rd party packages
/[Aa]ssets/Imported Assets/3rd Party Assets

# IDEs
.vs/
.vscode/
.idea/
*.sln
*.csproj
*.pidb
*.user
*.unityproj
*.booproj

# OS
.DS_Store
Thumbs.db
